<h1>Enter Your Quote Details</h1>
<%= simple_form_for @whoisme do |f| %>
  <%= f.input :aboutme %>
  <%= f.input :author %>
  <br />
  <%= f.submit 'Create', :class => 'btn btn-danger' %>
<% end %>
